# Dependencies
node_modules/
.venv/
venv/
__pycache__/
*.pyc

# Builds & Frameworks
.next/
dist/
out/
build/

# Database & Uploads
*.db
*.sqlite
*.sqlite3
uploads/

# Environment & IDE
.env
.env.local
.env.production
.DS_Store
.vscode/
.idea/
